@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
body{
    font-family: 'Poppins', sans-serif !important;
}
#hero{
    background-image: url(../images/select5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    top: 0px;
    left: 0px;
}
.hero-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #d8c0c4c9;
    top: 0;
    left: 0;
}
.hero-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hero-wrapper h6{
    text-align: center;
    font-size: 22px;
    padding-bottom: 25px;
    font-weight: 300;
    color: #fff;
}
.hero-wrapper h1{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 42px;
    color: #fff;
}
.hero-wrapper p{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 16px;
    color: #fff;
    line-height: 26px;
    padding-top: 30px;;
}
.social-links{
    position: absolute;
    left: -55px;
    top: 45%;
    transform: rotate(-90deg);
    list-style: none;
}
.social-links li{
    display: inline-block;
    margin: 0 4px;
    float: left;
}
.social-links li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #ffff;
}
.social-links li a:hover{
    color: rebeccapurple;
}
.call{
    text-align: center;
    padding: 0 20px;
}
.call:hover{
    color: turquoise;
}
.call a{
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
header{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: auto;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    padding: 12px 20px;
    top: 0;
    left: 0;
}
.header-logo{
    flex-basis: 50%;
    display: inline-block;
    line-height: 0px;
}
.header-logo img{
    width: 55%;
    height: 100%;
}
.header-toggle{
    flex-basis: 7%;
    padding-top: 3px;
    background-color: #fff;
    border: solid #fff;
}
.header-toggle img{
    height: 25px;
    width: 21px;
}
.main{
    display: none;
}
#profile{
    position: relative;
    background-color: #fff;
    top: 0;
    left: 0;
    vertical-align: center;
}
.profile-image img{
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 0;
    height: 654px;
}
.profile-details{
    content: "";
    position: relative;
    background-color: #fff;
    top: -203px;
    left: 0;
}
.profile-info h2{
    font-size: 33px;
    color: #000000d9;
    font-weight: 500;
    margin-top: 30px;
    padding: 35px 65px 0px 35px;
    line-height: 1.4;
}
.profile-info h2 span{
    color: #f69bac;
}
.profile-info h6{
    font-size: 25px;
    color: #000000cc;
    font-weight: 500;
    padding: 13px 30px;
    line-height: 1.3;
    word-spacing: 0px;
    letter-spacing: 5px;
}
.round{
    display: none;
}
.information{
    padding: 12px 30px;
}
.information .info-title{
    color: #fb9eafe3;
}
.information .info-body{
    padding-left: 10px;
    color: #000000a6;
}
.primary-btn{
    padding: 53px 30px;
    word-spacing: 1px;
}
.primary-btn .download{
    color: #fff;
    background: #f297a8;
    border: 1px solid #f297a8;
    text-decoration: none;
    padding: 11px 25px;
    border-radius: 4px;
}
.primary-btn .download:hover{
    color: #f69bac;
    background-color: #fff;
    border: 1px solid #f69bac;
    cursor: pointer;
}
#about{
    margin-top: -157px;
}
.about-heading h2,
.skills-heading h2,
.services-heading h2,
.portfolio-heading h2,
.references-heading h2,
.resume-heading h2,
.contact-heading h2{
    display: block;
    font-size: 29px;
    padding: 13px 20px 10px 40px;
    background-color: #f69bac;
    color: #fff;
    line-height: 1.1;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border-radius: 0 50px;
}
.about-heading p,
.skills-heading p,
.services-heading p,
.portfolio-heading p,
.references-heading p,
.resume-heading p,
.contact-heading p{
    font-weight: 100;
    color: #4b4453e8;
    text-align: right;
    padding: 3px 20px;
}
.container-fluid{
    width: 86%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid h3{
    font-size: 46px;
    line-height: 52px;
    font-weight: 500;
    padding: 60px 0px 30px;
    color: #000000bf;
}
.container-fluid h3 b{
    color: #f69bac;
    font-family: 'Mulish', sans-serif;
    font-size: 48px;;
}
.container-fluid p{
    color: #0000009c;
    line-height: 25px;
}
.container-fluid img{
    width: 100%;
    padding-bottom: 63px;
    padding-top: 16px;
}
.facts{
    margin-top: -60px;
}
.facts h3,
.professional h3,
.personal h3,
.languages h3,
.education h3{
    display: inline-block;
    padding-bottom: 2px;
    font-size: 22px;
    font-weight: 100;
    border-bottom: solid 2px #f69bac;
    color: #00000094;
}
.facts-wrapper{
    text-align: center;
    padding-bottom: 66px;
}
.facts-part:hover,
.facts-part-1:hover{
    cursor: pointer;
    position: relative;
    transition: all 0.2s relative;
}
.facts-icon {
    padding-top: 0px;
}
.facts-icon{
    padding-top: 22px;
}
.facts-part:hover .facts-icon,
.facts-part-1:hover .facts-icon-1{
    transform: translateY(-12px);
}
.facts-icon i{
    color: #ffaec9;
    font-size: 40px;
}
.facts-part h3,
.facts-part-1 h3{
    border: 0px;
    font-size: 48px;
    color: #f69bac;
    margin-top: -32px;
}
.facts-part p,
.facts-part-1 p{
    color: #00000091;
    font-weight: 100;
    padding-top: 36px;
    line-height: 0px;
}
.facts-icon-1{
    margin-top: -4px;
    margin-bottom: -85px;
}
.facts-icon-1 img{
    height: 80px;
    width: 82px;
}
.facts-part-1 h3{
    padding-bottom: 7px;
}
.professional{
    margin-top: 0;
}
.prof-part{
    padding-top: 32px;
    font-size: 14px;
    color: #00000094;
}
.prof-part h6{
    padding-bottom: 21px;
}
.prof-progress,
.pers-progress,
.language-progress{
    width: 100%;
    height: 25px;
    border: 1px solid #f69bac;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;
    border-radius: 50px;
}
.prof-progress .progress-bar-1,
.prof-progress .progress-bar-2,
.prof-progress .progress-bar-3,
.prof-progress .progress-bar-4{
    height: 100%;
    width: 80%;
    background: #f69bac;
    border-radius: 50px;
    position: relative;
    animation-name: prof-bar-1;
    animation-timing-function: width;
    animation-direction: normal;
    animation-play-state: initial;
    animation-duration: 2.5s;

}
.prof-progress .progress-bar-3{
    width: 50%;
    animation-name: prof-bar-2;
}
.prof-progress .progress-bar-4{
    width: 60%;
    animation-name: prof-bar-3;
}
.personal{
    margin-top: -13px;
}
.pers-part{
    padding-top: 32px;
    font-size: 14px;
    color: #00000094;
}
.pers-part h6{
    padding-bottom: 21px;
}
.pers-progress .progress-bar-1,
.pers-progress .progress-bar-2,
.pers-progress .progress-bar-3,
.pers-progress .progress-bar-4{
    height: 100%;
    width: 80%;
    background: #f69bac;
    border-radius: 50px;
    position: relative;
    animation-name: prof-bar-1;
    animation-timing-function: width;
    animation-direction: normal;
    animation-play-state: initial;
    animation-duration: 2.5s;
}
.pers-progress .progress-bar-1{
    width: 90%;
    animation-name: pers-bar-2;
}
.pers-progress .progress-bar-2{
    width: 75%;
    animation-name: pers-bar-3;
}
.pers-progress .progress-bar-4{
    width: 70%;
    animation-name: pers-bar-3;
}
.languages{
    margin-top: -13px;
}
.language-wrapper{
    padding-bottom: 102px;
}
.language-part{
    padding-top: 32px;
    font-size: 14px;
    color: #00000094;
}
.language-part h6{
    padding-bottom: 21px;
}
.language-progress .progress-bar-1,
.language-progress .progress-bar-2{
    height: 100%;
    width: 90%;
    background: #f69bac;
    border-radius: 50px;
    position: relative;
    animation-name: pers-bar-2;
    animation-timing-function: width;
    animation-direction: normal;
    animation-play-state: initial;
    animation-duration: 2.5s;
}
.language-progress .progress-bar-2{
    width: 70%;
    animation-name: pers-bar-3;
} 
.ref-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.ref-1{
    background-color: #f69bac;
    padding: 45px 0px 35px 20px;
    margin-top: 70px;
    width: 100%;
}
.ref-text .ref-ico i{
    color: #eabdc5ad;
    font-size: 88px;
}
.ref-text{
    font-style: italic;
}
.ref-text p{
    padding-top: 12px;
    font-weight: 100;
    color: #ffffffe0;
    line-height: 31px;
    font-size: 17.4px;
}
.info-ref{
    line-height: 25px;
}
.info-ref a{
    text-decoration: none;
    color: #ffffffe0;
}
.info-ref a:hover{
    color: navajowhite;
}
.person {
    height: 350px;
    width: 100%;
    background: #e6e6e6;
    text-align: center;
    position: relative;
}
.person a {
    height: 201px;
    width: 48%;
    box-shadow: #f69bac 0px 0px 0px 5px;
    border-radius: 100%;
    position: absolute;
    left: 27%;
    top: 13%;
}
.person img{
    transform: translate3d(0%, -6%, 0px);
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 100%;
}
.person h4{
    padding-top: 262px;
    text-transform: uppercase;
    color: #000000b8;
    font-weight: 100;
    letter-spacing: 3px;
    padding-bottom: 3px;
}
#resume{
    padding-top: 50px;
}
.education{
    margin-top: 0;
    padding-top: 23px;
}
.edu-wrapper{
    padding-bottom: 50px;
    margin-top: 21px;
}
.edu-item-1,
.edu-item-2,
.edu-item-3{
    padding: 5px 0px 22px 20px;
    margin-left: 5px;
    border-left: 1px solid #f69bac;
    position: relative;
}
.edu-date{
    line-height: 1;
    font-size: 13px;
    color: #00000096;
}
.edu-date::before{
    content: "";
    position: absolute;
    background: #f69bac;
    top: 4px;
    left: -8px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}
.edu-item-1 li,
.edu-item-2 li,
.edu-item-3 li{
    list-style: inside;
    font-size: 50px;
    color: #ec8497
}
.edu-item-1 li span,
.edu-item-2 li span,
.edu-item-3 li span{
    color: #00000085;
    font-size: 14px;
    padding-top: 4px;
}
.edu-item-1 h4,
.edu-item-2 h4,
.edu-item-3 h4{
    padding-top: 19px;
    font-size: 16px;
    font-weight: 500;
    color: #0b0a0a;
}
.edu-item-1 p,
.edu-item-2 p,
.edu-item-3 p{
    padding-top: 36px;
}
.cont h3{
    text-align: center;
    font-size: 44px;
}
.cont-wrapper{
    padding-top: 46px;
    margin: 0px 10px;
}
.cont-item{
    display: flex;
    justify-content: space-between;
}
.cont-item span{
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    color: #fff;
    background: #f69bac;
    display: inline-block;
    margin: 0 25px 0 0;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}
.cont-item p{
    flex-basis: 78%;
    padding-top: 30px;
    font-weight: 600;
    color: #0000008a;
}
.info-data-2{
    padding-top: 41px;
    padding-bottom: 50px;
    margin-left: -15px;
}
.form-control,
.form-control-1{
    padding: 25px;
    font-size: 13px;
    margin-bottom: 15px;
    background: #f2f4ec;
    border: 0;
    border-radius: 10px;
    width: 87%;
    display: inline-block;
    height: 0px;
}
.form-control-1{
    font-size: 14px;
    height: 70px;
}
.form-control:focus,
.form-control-1:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.btn-primary{
    color: #fff;
    background-color: #f69bac;
    font-size: 16px;
    padding: 9px 0px;
    border: #f69bac;
    line-height: 25px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}
.btn-primary:hover{
    cursor: pointer;
    color: #f69bac;
    background-color: white;
    border: 1px solid #f69bac;
}
.arrow{
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    background-color: #f69bac;
    display: inline;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 50px;
    text-align: center;
    bottom: 30px;
    border-radius: 100%;
    text-decoration: none;
}
.arrow i{
    line-height: 45px;
    position: relative;
    text-decoration: none;
}

@keyframes prof-bar-1{
    0%{
        width: 0%;
    }
    20%{
        width: 20%;
    }
    40%{
        width: 30%;
    }
    60%{
        width: 50%;
    }
    80%{
        width: 65%;
    }
    100%{
        width: 80%;
    }

}
@keyframes prof-bar-2{
    0%{
        width: 0%;
    }
    25%{
        width: 20%;
    }
    50%{
        width: 30%;
    }
    75%{
        width: 40%;
    }
    100%{
        width: 50%;
    }

}
@keyframes prof-bar-3{
    0%{
        width: 0%;
    }
    25%{
        width: 30%;
    }
    50%{
        width: 40%;
    }
    75%{
        width: 50%;
    }
    100%{
        width: 60%;
    }

}
@keyframes pers-bar-2{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 70%;
    }
    100%{
        width: 90%;
    }
}
@keyframes pers-bar-3{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 40%;
    }
    75%{
        width: 55%;
    }
    100%{
        width: 75%;
    }

}
@keyframes pers-bar-3{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 40%;
    }
    75%{
        width: 55%;
    }
    100%{
        width: 70%;
    }

}