@media (min-width: 576px){
    .hero-wrapper h6{
        font-size: 24px;
    }
    .hero-wrapper h1 {
        font-size: 49px;
        line-height: 60px;
    }
    .hero-wrapper p {
        font-size: 20px;
        letter-spacing: 15px;
        word-spacing: 37px;
        padding-top: 30px;
    }
    .call a {
        font-size: 17px;
    }
    .social-links {
        left: -40px;
    }
    .profile-info h6 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .primary-btn .scroll, 
    .primary-btn .download {
        padding: 11px 22px;
    }
    .profile-image img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: top;
        margin-top: 0;
        height: 658px;
    }
    .about-heading,
    .skills-heading,
    .references-heading,
    .resume-heading,
    .contact-heading{
        display: block;
        line-height: 30px;
    }
    .about-heading h2,
    .skills-heading h2,
    .references-heading h2,
    .resume-heading h2,
    .contact-heading h2{
        font-size: 30px;
        border-radius: 0px 50px;
        padding: 11px 41px;
    }
    .about-heading p,
    .skills-heading p,
    .references-heading p,
    .resume-heading p,
    .contact-heading p{
        text-align: right;
        font-size: 16px;
        padding-right: 18px;
    }
    .container-fluid {
        width: 90%;
        padding: 0px 15px;
    }
    .container-fluid h3{
        font-size: 50px;
    }
    .container-fluid h3 b{
        font-size: 49px;
    }
    .facts h3,
    .professional h3,
    .personal h3,
    .languages h3,
    .education h3{
        font-size: 21px;
    }
    .facts-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 0px 0px 52px;
    }
    .facts-part{
        padding-right: 24px;
    }
    .facts-part-1{
        margin-top: -10px;
        padding-right: 18px;
    }
    .facts-part h3,
    .facts-part-1 h3{
        font-size: 47px;
    }
    .facts-part p,
    .facts-part-1 p{
        color: #000000cf;
        padding-top: 25px;
        line-height: 26px;
    }
    .facts-part-1 p{
        padding-top: 19px;
    }
    .ref-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .ref-1{
        padding-bottom: 30px;
    }
    .ref-text p {
        color: #ffffffe0;
        line-height: 31px;
    }
    .person {
        height: 380px;
        width: 100%;
        text-align: center;
    }
    .person a {
        height: 197px;
        width: 34%;
        left: 34%;
        top: 13%;
    }
    .person img {
        transform: translate3d(0%, -7%, 0px);
        width: 100%;
        height: 100%;
    }
    .person h4 {
        padding-top: 258px;
    }
    .info-data-2{
        margin-left: 0px;
    }
    .form-control, 
    .form-control-1 {
        width: 90%;
    }
}
@media (min-width: 768px){
    #hero {
        height: 148vh;
        width: 100%;
        vertical-align: middle;
    }
    .hero-overlay {
        height: 100%;
        width: 100%;
    }
    .hero-wrapper h6 {
        font-size: 22px;
    }
    .hero-wrapper h1 {
        font-size: 59px;
        line-height: 59px;
    }
    .hero-wrapper p {
        font-size: 20px;
        letter-spacing: 17px;
        word-spacing: 0px;
        line-height: 41px;
        padding-top: 16px;
    }
    .social-links {
        top: 45%;
    }
    .social-links li a {
        font-size: 17px;
    }
    header {
        padding: 10px 19px;
    }
    .header-logo img {
        width: 35%;
        padding-top: 0px;
    }
    .header-toggle {
        flex-basis: 7%;
        padding-top: 0px;
    }
    .header-toggle img {
        height: 23px;
        width: 21px;
        padding-left: 30px;
        padding-top: 8px;
    }
    #home{
        display: flex;
        justify-content: space-between;
    }
    .profile-image{
        flex-basis: 30%;
    }
    .profile-image img {
        height: 99vh;
    }
    .profile-details {
        position: relative;
        flex-basis: 70%;
        top: 0;
        left: 0;
    }
    .profile-info h2 {
        font-size: 41px;
        padding-top: 76px;
        line-height: 55px;
    }
    .profile-info h6 {
        font-size: 26px;
        padding-top: 14px;
        letter-spacing: 5px;
        word-spacing: 5px;
    }
    .round{
        display: block;
        background-repeat: no-repeat;
        width: 95%;
        position: relative;
    }
    .round img{
        float: right;
    }
    .round-1,
    .round-2{
        animation-name: round-1;
        animation-duration: 10s;
        width: 23%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .round-2{
        animation-name: round-2;
        width: 15%;   
    }
    .information {
        padding: 11px 30px;
        font-size: 16px;
    }
    .information .info-title {
        color: #fb9eafd1;
    }
    .information .info-body {
        padding-left: 17px;
        color: #00000094;
    }
    .primary-btn {
        padding: 56px 30px;
    }
    .primary-btn .download, 
    .primary-btn .scroll {
        padding: 8px 11px;
        font-size: 16px;
    }
    #about {
        position: relative;
        top: 180px;
        left: 0;
    }
    .about-heading,
    .skills-heading,
    .references-heading,
    .resume-heading,
    .contact-heading{
        display: inline-block;
    }
    .about-heading h2,
    .skills-heading h2,
    .references-heading h2,
    .resume-heading h2,
    .contact-heading h2{
        font-size: 53px;
        border-radius: 0px 58px;
        padding: 12px 40px;
        margin: 0px 104px 0px 0px;
    }
    .about-heading p,
    .skills-heading p,
    .references-heading p,
    .resume-heading p,
    .contact-heading p{
        text-align: right;
        font-size: 16px;
        padding-right: 105px;
    }
    .container-fluid {
        width: 92%;
        padding: 0px;
    }
    .container-fluid h3 {
        font-size: 50px;
        padding: 68px 0px 24px;
        line-height: 57px;
    }
    .container-fluid h3 b {
        font-size: 50px;
    }
    .container-fluid p {
        color: #000000a6;
        font-size: 16px;
        line-height: 25px;
    }
    .container-fluid img {
        width: 80%;
        height: 94vh;
        margin-top: -18px;
    }
    .facts {
        margin-top: 0px;
        padding-top: 184px;
    }
    .facts h3, 
    .professional h3, 
    .personal h3,
    .languages h3, 
    .education h3 {
        font-size: 20px;
        line-height: 7px;
    }
    .facts-wrapper {
        padding: 0px 0px 52px;
    }
    .facts-part .facts-icon {
        padding-top: 23px;
    }
    .facts-icon i {
        color: #ffaec9;
        font-size: 43px;
    }
    .facts-part h3, 
    .facts-part-1 h3 {
        font-size: 49px;
        padding-top: 69px;
    }
    .facts-part p, 
    .facts-part-1 p {
        padding-top: 24px;
        line-height: 25px;
        font-size: 16px;
        color: #00000085;
    }
    .facts-part-1{
        margin: 0px -50px;
        padding-right: 0px;
    }
    .facts-icon-1 {
        margin-top: 3px;
        margin-bottom: -85px;
    }
    .facts-icon-1 img{
        height: 86px;
        width: 36%;
    }
    #skills {
        padding-top: 19px;
    }
    .skill-set{
        display: flex;
        justify-content: space-between;
        padding-top: 33px;
    }
    .professional{
        flex-basis: 30%;
    }
    .personal{
        flex-basis: 30%;
        margin-top: 0px;
    }
    .languages{
        flex-basis: 30%;
        margin-top: 0px;
    }
    #reference{
        padding-top: 70px;
    }
    .ref-1{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .info-ref a{
        color: #7f5155d6;
    }
    .person {
        height: 357px;
        padding-top: 20px;
        padding-bottom: 0px;
        width: 100%;
        position: relative;
    }
    .person a {
        position: absolute;
        height: 210px;
        width: 28%;
        left: 35%;
        top: 13%;
    }
    .person img {
        transform: translate3d(0%, 0%, 0px);
        width: 100%;
        height: 100%;
    }
    .person h4 {
        padding-top: 255px;
    }
    #resume {
        padding-top: 70px;
    }
    .education {
        padding-top: 27px;
    }
    .cont h3{
        font-size: 45px;
    }
    .form-set{
        display: flex;
        justify-content: space-between;
    }
    .cont-item p{
        color: #00000073;
        font-weight: 100;
    }
    .info-data-2{
        flex-basis: 65%;
        padding-right: 25px;
        padding-top: 65px;
    }
    .form-control,
    .form-control-1{
        width: 83%;
    }
    .btn-primary {
        width: 100%;
    }
}
@media (min-width: 992px){
    #hero {
        height: 102vh;
        width: 100%;
        vertical-align: middle;
    }
    .hero-overlay {
        background-color: #d8c0c454;
    }
    .hero-wrapper h6 {
        font-size: 22px;
    }
    .hero-wrapper h1 {
        font-size: 80px;
        line-height: 93px;
    }
    .hero-wrapper p {
        font-size: 26px;
        line-height: 0px;
        padding-top: 34px;
    }
    .call {
        text-align: center;
        padding: 18px;
    }
    .call a {
        font-size: 21px;
    }
    .profile-info h2 {
        font-size: 41px;
        padding-top: 0px;
        line-height: 55px;
    }
    .round{
        top: 68px;
        right: 40px;
    }
    .round-1{
        width: 17%;
    }
    .round-2{
        width: 12%;
    }
    .information {
        padding: 11px 30px;
        font-size: 17px;
    }
    .primary-btn .download, 
    .primary-btn .scroll {
        padding: 11px 22px;
        font-size: 16px;
    }
    .about-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .about-para {
        flex-basis: 55%;
    }
    .about-image{
        flex-basis: 45%;
    }
    .about-image img{
        width: 100%;
        height: 84vh;
        margin-top: 49px;
    }
    .ref-wrapper{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-bottom: 0px;
        margin: 0px;
    }
    .ref-1{
        flex-basis: 46%;
        background-color: #f69bac;
        width: 100%;
    }
    .ref-text{
        font-style: italic;
        padding-top: 76px;
    }
    .ref-text p {
        padding-top: 12px;
        font-weight: 100;
        color: #ffffffe0;
        line-height: 31px;
    }
    .info-ref a {
        color: #fef3f5;
    }
    .person {
        flex-basis: 54%;
        height: 380px;
        padding-bottom: 82px;
        margin-right: 0px;
        margin-top: 70px;
    }
    .person a {
        height: 48%;
        width: 50%;
        top: 18%;
        left: 27%;
    }
    .person h4{
        margin-top: -25px;
        padding: 340px 0px;
    }
    .person p{
        margin-top: -335px;
    }
    .person img {
        transform: translate3d(0%, 0%, 0px);
        width: 100%;
        height: 100%;
    }
    #resume {
        padding-top: 102px;
    }
    .cont h3 {
        font-size: 43px;
    }
    .info-data-2 {
        flex-basis: 65%;
        padding-right: 0px;
        padding-top: 65px;
    }
    .btn-primary {
        width: 93%;
    }
}
@media (min-width: 1200px){
    .hero-wrapper h6 {
        font-size: 23px;
        line-height: 60px;
    }
    .hero-wrapper h1 {
        font-size: 70px;
    }
    .call a:hover {
        color: blue;
    }
    header{
        display: none;
    }
    #profile{
        display: flex;  
        justify-content: space-between;
    }
    .main{
        position: sticky;
        width: 18%;
        height: 100vh;
        background-color: #fff;
        overflow: auto;
        box-shadow: 4px 0px 8px 0px rgba(0, 6, 33, 0.08);
        z-index: 1;
        top: 0;
        display: flex;
        flex-direction: column;
    }
    .main-logo a img{
        width: 70%;
        padding: 12px 33px 35px;
    }
    .main-image{
        width: 100%;
        text-align: center;
        position: relative;
        padding-top: 160px;
    }
    .main-image a{
        height: 117px;
        width: 117px;
        box-shadow: #f69bac 0px 0px 0px 5px;
        border-radius: 50%;
        position: absolute;
        left: 25%;
        top: 0%;
    }
    .main-image a img{
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 100%;
    }
    #main-menu h1{
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    #main-menu .nav-menu{
        text-align: center;
    }
    .nav-menu li{
        line-height: 30px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 100;
    }
    .nav-menu li:hover{
        color: #f69bac;
    }
    .nav-menu li a{
        color: black;
        text-decoration: none;
        list-style: none;
    }
    .nav-menu li a:hover {
        text-decoration: underline;
        color: #ff1493d6;
    }
    .main-bottom{
        padding: 35px 15px;
        text-align: center;
    }
    .main-bottom a{
        text-decoration: none;
        color: black;
        font-size: 13px;
    }
    .msg-links{
        padding: 54px 0px 0px;
        text-align: center;
        word-spacing: 30px;
    }
    .msg-links a{
            width: 32px;
        height: 32px;
        border: 1px solid #c5cad3;
        text-align: center;
        border-radius: 2px;
        font-size: 14px;
        color: #70757f;
        display: inline-block;
        line-height: 30px;
    }
    .msg-links a:hover{
        width: 32px;
        height: 32px;
        border: 1px solid #f69bac;
        background-color: #f69bac;
        text-align: center;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        display: inline-block;
        line-height: 30px;
    }
    .msg-links a i{
        display: inline-block;
    }
    .part-2{
        height: 100%;
        position: relative;
        width: 82%;
        top: 0px;
        left: 0px;
    }
    .hero-wrapper p {
        font-size: 35px;
    }
    .profile-image img {
        height: 112vh;
    }
    .round{
        bottom: 0px;
        right: 0px;
    }
    .round-1{
        width: 14%;
    }
    .round-2{
        width: 9%;
    }
    .about-heading h2, 
    .skills-heading h2, 
    .references-heading h2, 
    .resume-heading h2, 
    .contact-heading h2 {
        font-size: 55px;
        padding: 10px 40px;
    }
    .about-para{
        flex-basis: 60%;
        padding-left: 15px;
    }
    .about-image{
        flex-basis: 40%;
    }
    .about-image img {
        width: 95%;
        height: 70vh;
        margin: 47px 45px;
    }
    .container-fluid {
        margin: 0px 25px;
    }
    .facts {
        margin-top: 0px;
        padding-top: 160px;
    }
    .facts h3, 
    .professional h3, 
    .personal h3, 
    .languages h3, 
    .education h3 {
        font-size: 22px;
        line-height: 7px;
    }
    .facts-wrapper {
        padding: 0px 55px 52px;
    }
    .facts-part h3, 
    .facts-part-1 h3 {
        font-size: 49px;
        padding-top: 69px;
    }
    .skill-set {
        padding-left: 35px;
    }
    .personal {
        margin-top: 0px;
    }
    .ref-wrapper {
        margin: 70px -25px 0px 20px;
    }
    .person a {
        height: 49%;
        width: 45%;
        left: 28%;
    }
    .cont h3 {
        font-size: 47px;
    }
    .form-control, 
    .form-control-1{
        font-size: 15px;
        width: 90%;
    }
    .info-data-1,
    .info-data-2 {
        flex-basis: 50%;
    }
    .info-data-2 {
        padding-top: 65px;
        margin-right: -30px;
    }
    .btn-primary {
        width: 99%;
    }
    
}

@keyframes round-1{        
    0%{
        bottom: 50px; 
        right: 30px;
    }
    25%{
        bottom: 40px;
        right: 3px;
    }
    50%{
        bottom: 55px;
        right: 15px;
    }
    75%{
        bottom: 47px;
        right: 4px;
    }
    100%{
        bottom: 55px;
        right: -4px;
    }
}
@keyframes round-2{
    0%{
        bottom: 100px; 
        right: 80px;
    }
    25%{
        bottom: 140px;
        right: 90px;
    }
    50%{
        bottom: 120px;
        right: 105px;
    }
    75%{
        bottom: 135px;
        right: 85px;
    }
    100%{
        bottom: 145px;
        right: 100px;
    }
}